@font-face {
  font-family: 'TTTravels-DemiBold', sans-serif;
  src: url('./TTTravels-DemiBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Travels', 'Light', sans-serif;
  src: url('./TTTravels-Light.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Travels Medium', sans-serif;
  src: url('./TTTravels-Medium.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Travels Regular', sans-serif;
  src: url('./TTTravels-Regular.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}
   @font-face {
      font-family: 'TTTravels-Bold', sans-serif;
      src: url('./TTTravels-Bold.ttf') format('ttf');
      font-weight: 800;
      font-style: normal;
      font-display: swap;
  }